@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="col-md-2">
  <div class="row">
    @Html.Partial("~/Views/Shared/_LoginPartial.cshtml")
  </div>
  <div class="row">
    <!-- TODO: Add homepage navigation -->
    <ul>
      <li>Nav item 1</li>
      <li>Nav item 2</li>
    </ul>
  </div>
</div>
<div class="col-md-10">
  @RenderBody()
</div>