@model Vandring.Web.ViewModels.LoginViewModel

@Html.ValidationSummary(false)

@using (Html.BeginForm("Login", "Auth"))
{
    @Html.EditorForModel()
    <button type="submit">Login</button>
}

@Html.ActionLink("Register", "Index", "Register")
